@page "/groups/{groupId:int?}"
@using System.Security.Claims
@attribute [Authorize]
<div class="row">
    <div class="col-lg-6 ">
        
        <div>
            <div>
                <div class="px-3"><h3>Members</h3></div>
            </div>

            @foreach (var user in Group.Members)
            {
                <div class="card my-2">
                    <h5 class="card-header">@user.UserName</h5>
                    <div class="card-body">
                        <h5 class="card-title"><img src="@user.ImageUrl" width="40" height="40" style="border-radius:40%" />@user.Email</h5>
                        @* <p class="card-text">@user.Bio</p> *@


                        <button class="btn btn-outline-info w-20" @onclick="() => ShowModal(user.Id)">View Profile</button>



                    </div>
                </div>
            }
        </div>




    </div>
    <div class="col-lg-6 ">
       
        <div>
            <div>
                <div class="px-3"><h3>Admins</h3></div>

            </div>

            @foreach (var user in Group.Admins)
            {
                <div class="card my-2">
                    <h5 class="card-header">@user.UserName</h5>
                    <div class="card-body">
                        <h5 class="card-title"><img src="@user.ImageUrl" width="40" height="40" style="border-radius:40%" />@user.Email</h5>
                        @* <p class="card-text">@user.Bio</p> *@

                        <button class="btn btn-outline-info w-20" @onclick="() => ShowModal(user.Id)">View Profile</button>

                    </div>
                </div>
            }
        </div>
        <div>
            <div>
                <div class="px-3"><h3>Moderators</h3></div>
            </div>

            @foreach (var user in Group.Moderators ?? [])
            {
                <div class="card my-2">
                    <h5 class="card-header">@user.UserName</h5>
                    <div class="card-body">
                        <h5 class="card-title"><img src="@user.ImageUrl" width="40" height="40" style="border-radius:40%" />@user.Email</h5>
                        @* <p class="card-text">@user.Bio</p> *@
                        <button class="btn btn-outline-info w-20" @onclick="() => ShowModal(user.Id)">View Profile</button>

                    </div>
                </div>
            }
        </div>
    </div>
</div>
@code {

    [Parameter] public int? groupId { get; set; }
    Group Group = new Group();
    [CascadingParameter] public IModalService Modal { get; set; } = default!;

    private void ShowModal(string userId)
    {
        var parameters = new ModalParameters();
        parameters.Add("UserId", userId);
        Modal.Show<UserModal>("Profile", parameters);

    }
    protected override async Task OnInitializedAsync()
    {

        if (!groupId.HasValue) return;
        Group = await groupService.GetGroupByIdAsync(groupId.Value);
    }




}
